<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZlaaC28EuhKYCEtBJQNLYQCAYIHvA4js</string>
	<key>GCM_SENDER_ID</key>
	<string>1016648775638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skinlesiondetector.skinlesiondetector</string>
	<key>PROJECT_ID</key>
	<string>skin-cancer-detection-94fe3</string>
	<key>STORAGE_BUCKET</key>
	<string>skin-cancer-detection-94fe3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016648775638:ios:cf5fcb1fb2346e262cd677</string>
</dict>
</plist>